<%= simple_form_for :filter, :url =>  webstudios_filter_path, :method => :get do |f| %>
  <%= f.input :pricelow, as: :string, label: 'Минимальная цена'%>
  <%= f.input :pricehigh, as: :string, label: 'Максимальная цена'%>
  
  <%= f.button :submit, 'Поиск'%>
<%end%>

<br>
<div class="row">
	<%@ws.each do |ws|%>
	<div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%=image_tag(ws.img)%>
      <div class="caption">
        <h3><%=ws.name%></h3>
        <p><%=ws.description%></p>
        <p>Средний чек: <%=ws.average_ticket%></p>
        <p>Город: <%=ws.city.name%></p>
        <p>
		<%= link_to 'Посмотреть', webstudio_path(ws), {class: "btn btn-primary", role: "button"} %>
        	 </p> 
      </div>
    </div>
    </div>
	<%end%>
</div>

